version: '3.8'

services:
  mariadb:
    image: mariadb:10.11
    container_name: databrain-db
    restart: always
    ports:
      - "3306:3306"
    environment:
      # [핵심] 스프링 설정(application.yml)과 똑같은 비밀번호여야 합니다!
      MARIADB_ROOT_PASSWORD: jw132612!

      MARIADB_DATABASE: databrain
      TZ: Asia/Seoul
    volumes:
      - ./db_data:/var/lib/mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci

  redis:
    image: redis:alpine
    container_name: databrain-redis
    ports:
      - "6379:6379"